<?xml version="1.0" encoding="UTF-8" ?>
<odoo>
    <data>
        <menuitem id="assessment.parent_menu"
            name="Management Ruangan"
            sequence="12"
            />
        <menuitem id="menu_master_ruangan" name="Master Ruangan"
                    parent="assessment.parent_menu"
                    action="master_ruangan_action"
                    sequence="1"/>
        <menuitem id="menu_pemesanan_ruangan" name="Pemesanan Ruangan"
                    parent="assessment.parent_menu"
                    action="pemesanan_ruangan_action"
                    sequence="2"/>
    </data>
</odoo>